<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI(STATUS)</title>
</head>
<body>
    <h1>AI(STATUS)</h1>
    <hr>
    <form action="/aistatus" method="POST">
        <label for="lat">ENTER LATITUDE :</label>
        <input type="text" name="lat" required>
        <label for="lon">ENTER LONGITUDE :</label>
        <input type="text" name="lon" required>
        <input type="submit" value="GET ANALYTICS">
    </form>
</body>
</html>