<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>AGRI-WEATHER AIDER</h1>
    <hr>
    <h3>ENTER CITY:</h3><button onclick="window.location.href='/citypage'">CITY</button><br>
    <h3>ENTER LAT&LONG :</h3><button onclick="window.location.href='/latlongpage'">LAT&LONG</button><br>
    <h3>ENTER LAT&LONG :</h3><button onclick="window.location.href='/aipredictionpage'">AI ALERT</button><br>
    <h3>ENTER LAT&LONG :</h3><button onclick="window.location.href='/aistatuspage'">AI CURRENT STATUS</button><br>
    <h3>ENTER LAT&LONG :</h3><button onclick="window.location.href='/forecastpage'">FORECAST</button><br>
    <hr>
</body>
</html>