<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAT&LONG RESULT</title>
</head>
<body>
    <table>
        <tr style="border:2px solid black;background-color:green;">
            <th><h1>CURRENT</h1></th>
            <th><h1>AFTER  1 HOUR</h1></th>
            <th><h1>2 HOURS</h1></th>
        </tr>
        <tr style="border:2px solid black;background-color:antiquewhite;">
            <td><h1>{{row.current_temp}} K</h1></td>
            <td><h1>{{row.next_hour_temp}} K</h1></td>
            <td><h1>{{row.after2_hours}} K</h1></td>
        </tr>
    </table>

</body>
</html>